---
layout: splash
permalink: /roadmap/
date:
header:
  teaser: /assets/images/18659u.jpg
  overlay_image: /assets/images/HeroImage.png
  overlay_filter: .3
  caption: 
excerpt: 'ကျောင်းတွင်ရှိ courses များမှ အစပျိုး လေ့လာသင့်သော course များကို ရွေးပေးထားပါတယ်။' 
feature_row:
  - image_path: /assets/images/machine-learning-ai-roadmap.png
    alt: "machine-learning"
    title: ""
    excerpt: "Machine Learning AI ကို အခြေခံကစပြီး လေ့လာချင်သူများအတွက် အခြေခံသိသင့်တဲ့ course roadmap ဖြစ်ပါတယ်။"
    url: /roadmap/machine-learning/
    btn_label: "<i class='fas fa-chevron-circle-right'>  အသေးစိတ်ကြည့်မယ်။</i>" 
  - image_path: /assets/images/blockchain-and-web3-roadmap.png
    alt: "blockchain-web3"
    title: ""
    excerpt: "Blockchain နှင့် web3 အတွက် အခြေခံကစပြီး လေ့လာချင်သူများအတွက် အခြေခံသိသင့်တဲ့ course roadmap ဖြစ်ပါတယ်။"
    url: /roadmap/blockchain-web3/
    btn_label: "<i class='fas fa-chevron-circle-right'>  အသေးစိတ်ကြည့်မယ်။</i>"
  - image_path: /assets/images/finance-and-econonic-roadmap.png
    alt: "fintech-economics"
    title: ""
    excerpt: "FinTech နှင့် economics အတွက် အခြေခံကစပြီး လေ့လာချင်သူများအတွက် အခြေခံသိသင့်တဲ့ course roadmap ဖြစ်ပါတယ်။"
    url: /roadmap/fintech-economics/
    btn_label: "<i class='fas fa-chevron-circle-right'>  အသေးစိတ်ကြည့်မယ်။</i>" 

intro:
  - excerpt: 'အတူတူလေ့လာသူတွေနဲ့ &nbsp; [<i class="fab fa-facebook"></i>Alex Snow School](https://www.facebook.com/groups/alexsnowschool){: .btn .btn--slack target="_blank"} မှာတွေ့ကြမယ်။'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %} --> 


{% include paginator.html %}
